.list {
  width: 1300px;
  margin: 20px auto;
  border: 1px solid #000;
  position: relative;
}
.list li {
  display: inline-block;
  width: 200px;
  height: 200px;
  margin: 20px 0 0 20px;
  border: 1px solid #dfdfdf;
}
.list img {
  width: 200px;
  height: 200px;
}
.img-move {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 0;
  top: 0;
}
